.container {
    height: 100vh;
    display: flex;
    padding-top: 120px;
    justify-content: center;
    column-gap: 60px;
}
.containerLeftMenu {
    display: flex;
    row-gap: 80px;
    flex-direction: column;
}
.containerLink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}
.containerLink > .link {
    
    align-items: center;
    display: flex;
    color: #8585AD;
}
.infoContainer {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 10px;
}
.info {
    color: #8585AD;
    opacity: 0.4;
}
.exitButton {
    cursor: pointer;
    font-size: 24px;
    align-items: center;
    display: flex;
    color: #8585AD;
    background: none;
    border: none;
    font-weight: 700;
    line-height: 30px;
}

.link{
    color: #8585AD;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.selectLink {
    color: #F2F2F3;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 30px;
}